@import '../globalStyle/font';

.other-projects-section-container {
  @include mb-section-spacing;

  div {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
    //  grid-gap: 1rem;

    #header-container {
      h1 {
        @include header-font;
        @include header-color;
        @include mb-header-font-size;
      }
    }

    .other-projects-container {
      display: flex;
      flex-flow: column wrap;

      .other-projects {

        a {
          text-decoration: none;
          color: black;

          .project-img {
            width: 100%;
            object-fit: cover;
          }

          h2 {
            font-size: 24px;
            font-weight: 400;
            text-decoration: underline;
            @include content-font;
          }

          p {
            font-size: 14px;
            @include content-font;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .other-projects-section-container {

    div {
      .other-projects-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;

        .other-projects {
          display: block;

          a {

            h2 {
              font-size: 24px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .other-projects:nth-child(1),
        .other-projects:nth-child(2) {
          grid-column: span 3;
        }

        .other-projects:nth-child(3),
        .other-projects:nth-child(4),
        .other-projects:nth-child(5) {
          grid-column: span 2;
        }
      }
    }
  }
}


/* BELOW CHANGES TO DESKTOP*/
@media only screen and (min-width: 1081px) {
  .other-projects-section-container {
   @include dk-section-spacing;

    div {

      #header-container {
        h1 {
          @include dk-header-font-size;
        }
      }
    }
  }
}
