.about-container {
  padding: 100px 40px;

  h1 {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

  }

  p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    b {
      font-size: 20px;
    }

    span {
      text-decoration: underline;
      font-weight: bold;
      font-size: 20px;

    }
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .about-container {
    padding: 200px 100px;

    h1 {
      font-size: 60px;
      margin-bottom: 100px;
    }

    p {
      font-size: 30px;
      line-height: 35px;

      b {
        font-size: 30px;
      }

      span {
        font-size: 30px;
      }
    }

  }
}
