.about-container {
  // background-color: #ffffff;
  // background-image: linear-gradient(180deg, #ffffff 70%, #FFE32C 100%);
  // margin: 0;
  // padding: 100px 40px;
  // /* Create the parallax scrolling effect */
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
    line-height: 25px;

    b {
      font-size: 20px;
    }

    span {
      text-decoration: underline;
      font-weight: bold;
      font-size: 20px;

    }
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .about-container {
    padding: 200px 40px;
    h1 {
      font-size: 60px;
    }

    p {
      font-size: 30px;
      line-height: 35px;

      b {
        font-size: 30px;
      }

      span {
        font-size: 30px;
      }
    }

  }
}
