@import '../../globalStyle/font';

.intro-container {
  display: flex;
  justify-content: left;
  background-color: #C4C4C4;
  // background-image: url('../../../images/bioPic.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: right center;
  // background-size: cover;
  height: inherit;
  padding: 20px;

  div {
    max-width: 571px;

    div {

      h1 {
        @include header-color;
        @include header-font;
        font-size: 48px;
        line-height: 59px;
        font-weight: 400;
        text-align: left;
        text-shadow: 2px 0px #333333;
      }

    }
    div {
      p {
        @include content-font;
        color: #333333;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
      }
    }

  }
}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 769px) {
  .intro-container {
    padding: 100px;

    div {
      div {
        h1 {
          font-size: 60px;
          line-height: 90px;
        }
      }
    }
  }
}
