.intro-container {
  background-color: #D7DADA;
  margin: 0;
  padding: 100px 40px;
  h1 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    font-size: 20px;
    line-height: 25px;
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .intro-container {
    padding: 200px 100px;

    h1 {
      font-size: 60px;
    }

    p {
      font-size: 30px;
      line-height: 35px;
    }
  }
}
