@import '../globalStyle/font';

// GENERAL STYLE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

// STYLE FOR BOTH MOBILE AND DESKTOP
.nav-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px 27px;
  margin: 0;

  #logo {
    a {
      @include header-font;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
 .nav-links-overlay {
    .nav-links {
      a {
        @include content-font;
      }
    }
 }

// FOR ACTIVE LINKS
.active {
  font-weight: bold;
  text-decoration: underline;
}

/*MOBILE MENU BAR SPECIFIC STYLE*/
@media screen and (max-device-width: 768px) {

  .nav-container {
    justify-content: center;
    #logo {
      padding: 0 10px;
      a {
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
  .nav-links-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;

    .nav-links  {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: left;

     a  {
        padding: 10px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        margin: 0;
        font-weight: 400;
        font-size: 32px;
        margin-left: 20px;
      }
    }
    .closebtn {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 60px;
      text-decoration: none;
    }
  }
  /*MOBILE MENU BAR */
  .menu-icon {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 0;

    div {
      width: 35px;
      height: 3px;
      margin: 7px 20px;
      background-color: black;
    }
  }

}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 769px) {
  .nav-container {
    padding: 20px 100px;
    .nav-links {
      a {
        font-weight: 300;
        font-size: 16px;
        margin: 0 10px;
        text-decoration: none;
        cursor: pointer;
        transition: text-shadow .3s;

        &:hover {
          text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        }
      }
    }
  }


  .menu-icon {
    div {
      display: none;
    }
  }

  .closebtn {
    display: none;
  }
}
