// FONT
// FONT_COLORS
$desktop_link_color: black;
$mobile_link_color: black;
$mobile_nav_bg_color: black;

// GENERAL STYLE
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// STYLE FOR BOTH MOBILE AND DESKTOP
.nav-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px 27px;
  margin: 0;

  #logo {
    a {
      text-decoration: none;
      color: black;
      font-size: 30px;
    }

  }
}

// FOR ACTIVE LINKS
.active {
  font-weight: bold;
  text-decoration: underline;
}

/*MOBILE MENU BAR SPECIFIC STYLE*/
@media screen and (max-device-width: 767px) {
  .nav-links-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: $mobile_nav_bg_color;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;

    .nav-links  {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;

      a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: $mobile_link_color;
        display: block;
        transition: 0.3s;
        margin: 0;
        font-weight: 300;
        font-size: 20px;
      }
    }
    .closebtn {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 60px;
      color: black;
      text-decoration: none;
    }
  }
  /*MOBILE MENU BAR */
  .menu-icon {
    margin: 0;
    position: absolute;
    right: 0;

    div {
      width: 35px;
      height: 3px;
      margin: 7px 20px;
      background-color: black;
    }
  }

}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .nav-container {
    .nav-links {
      a {
        color: $desktop_link_color;
        font-weight: 300;
        font-size: 16px;
        margin: 0 10px;
        text-decoration: none;
        color: $desktop_link_color;
        cursor: pointer;
        transition: text-shadow .3s;

        &:hover {
          text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        }
      }
    }
  }


  .menu-icon {
    div {
      display: none;
    }
  }

  .closebtn {
    display: none;
  }
}
