.projects-container {
 padding: 100px 40px;

 .projects-imgs-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;

   .project {
    padding:20px;
    img {
      max-width: 500px;
      max-height: 500px;
    }
   }
 }

 h1 {
  font-size: 35px;
 }

}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .projects-container {
    padding: 200px 40px;

    h1 {
      font-size: 60px;
    }
  }
}
