.projects-container {
 padding: 100px 40px;
 margin: 0;
 /* Create the parallax scrolling effect */
 background-color: white;
 background-image: linear-gradient(180deg, #ffffff 80%, green 100%);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100%;
 height: 100vh;
}
