.contact-container {
  padding: 100px 40px;

  h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  .contact-links-container {
    display: flex;
    flex-direction: column;

    .contact-link {
      margin: 10px;

      a {
        color: black;
        font-size: 24px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
      }
    }
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .contact-container {
    padding: 200px 100px;
    margin: 0px 135px;

    h1 {
      font-size: 60px;
      margin-bottom: 64px;
    }

    .contact-links-container {
      display: flex;
      flex-direction: row;

      .contact-link {
        margin-right: 30px;

        a {
          font-size: 30px;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}
