@import '../globalStyle/font';

.contact-container {
  @include mb-section-spacing;

  h1 {
    @include header-font;
    @include header-color;
    @include mb-header-font-size;
  }

  .contact-links-container {
    display: flex;
    flex-direction: column;

    .contact-link {
      padding: 10px 0;
      a {
        @include content-font;
        color: #333333;
        font-size: 24px;
        line-height: 36px;
        cursor: pointer;;
        text-align: left;
      }
    }
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .contact-container {
    @include dk-section-spacing;

    h1 {
      @include dk-header-font-size;
      margin-bottom: 100px;
    }

    .contact-links-container {
      flex-direction: row;
      justify-content: center;

      .contact-link {
        a {
          text-align: center;
          padding: 0 40px;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}
