@import '../globalStyle/font';

.contact-container {
  padding: 150px 20px;
  background-color: white;
  h1 {
    @include header-font;
    @include header-color;
    @include mb-header-font-size;
  }

  .contact-links-container {
    display: flex;
    flex-direction: column;

    .contact-link {
      padding: 10px 0;
      a {
        @include content-font;
        color: #333333;
        font-size: 24px;
        line-height: 36px;
        cursor: pointer;;
        text-align: left;
      }
    }
  }
}


/* BELOW CHANGES TO TABLES*/
@media only screen and (min-width: 1081px) {
  .contact-container {
    padding: 64px 200px;
    .contact-links-container {
      flex-direction: row;
      justify-content: center;

      .contact-link {
        a {
          text-align: center;
          padding: 0 40px;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}

