@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans&display=swap');

// fonts
@mixin header-font {
  font-family: 'Work Sans', sans-serif;
}

@mixin content-font {
  font-family: 'Space Mono', monospace;
}

// color
@mixin header-color {
  color: #333333;
}

@mixin content-color {
  color: #000000;
}

// mobile
@mixin mb-header-font-size {
  font-size: 24px;
  font-weight: 400;
}

@mixin mb-content-font-size {
  font-size: 16px;
  line-height: 28px;
}

// desktop
@mixin dk-header-font-size {
  font-size: 34px;
}

@mixin dk-content-font-size {
  font-size: 24px;
  line-height: 42px;
}

// section spacing
@mixin mb-section-spacing {
  padding: 48px 20px;
}
@mixin dk-section-spacing {
  padding: 64px 100px;
}
