.articles-container {
  padding: 100px 40px;
  div {

    h1 {
      font-size: 35px;
      margin-bottom: 50px;
      font-family: 'Montserrat', sans-serif;
    }

    a {
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      color: black;
      cursor: pointer;
      margin: 10px;

      &:hover {
        opacity: .8;
      }
    }
  }
}


/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .articles-container {
    padding: 200px 100px;

    div {
      margin: 0 135px 64px 135px;
      h1 {
        font-size: 60px;
        margin-bottom: 100px;
      }

      a {
        font-size: 40px;
        margin: 20px;

        &:hover {
          opacity: .8;
        }
      }
    }

  }
}
