.header-placeholder {
  img {
    width: 100vw;
  }
}

.project-details-container {
  display: flex;
  justify-content: center;
  padding: 0 23px;
  div {
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        text-align: center;
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        line-height: 59px;
        margin-bottom: 24px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          margin: 0 0 24px 0;

          div {
            h2 {
              font-size: 24px;
              line-height:29px;
              font-family: 'Montserrat', sans-serif;
            }
           #tech-details {
             max-width: 200px;
           }
          }

        }

        div:nth-child(2) {

          p {
            max-width: 680px;
            font-size: 16px;
            line-height: 24px;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
    }

    .details-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 48px 0;

      h2 {
        font-size: 24px;
        line-height: 28px;
        max-width: 229px;
        font-family: 'Montserrat', sans-serif;
      }

      p {
        max-width: 680px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .project-details-container {

    div {
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 48px 0;

        h1 {
          text-align: center;
          margin-bottom: 32px;
          font-size: 48px;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content:space-between;

          div {
            display: flex;
            flex-direction: column;

            div {

              h2 {
                font-size: 24px;
                line-height: 29px;
                margin-bottom:32px;
              }
            }
          }

          div:nth-child(2) {
            p {
              max-width: 680px;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

      .details-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 48px 0;

        h2 {
          font-size:24px;
          line-height: 29px;
          max-width: 229px;
        }
        p {
          max-width: 680px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
