@import '../../globalStyle/font';

.header-placeholder {
  margin-top: 80px;
  img {
    width: 100vw;
  }
}

.project-details-container {
  padding: 20px;
  div {
    .details {
      margin-bottom: 20px;

      h1 {
        text-align: left;
        @include header-font;
        @include mb-header-font-size;
      }

      p {
        @include content-font;
        @include mb-content-font-size;
      }

      div {
        display: flex;
        flex-direction: column;

        div {
          .tech-details {
            h2 {
              @include header-font;
              font-size: 24px;
              font-weight: 500;
              margin:5px 0;
              padding:0;
            }

            p, a {
              @include content-font;
              font-size: 16px;
            }
          }
        }
      }
    }

    .project-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .details-2 {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      h2 {
       @include mb-header-font-size;
       @include header-font;

      }

      p {
        @include mb-content-font-size;
        @include content-font;
      }

    }
    #next-project-link-container {
      margin: 20px 0;

      h3 {
        font-size: 20px;
        font-weight: 400;
        @include header-font;
      }
      a {
        font-size: 24px;
        @include content-font;
      }
    }
  }
}


@media only screen and (min-width: 1081px) {
  .project-details-container {
    @include dk-section-spacing;

    div {
      .details {
        margin-bottom: 60px;

        h1 {
          text-align: left;
          @include dk-header-font-size;
        }

        div {
          display: flex;
          flex-direction: row;

          div {
            display: flex;
            flex-direction: column;
             .tech-details {
                margin-right: 100px;
                p,
                a {
                  @include content-font;
                }
                a:hover {
                  opacity: 0.8;
                }

             }
          }

          div:nth-child(2) {
            p {
              @include content-font;
              @include dk-content-font-size;
            }
          }
        }
      }

      .details-2 {
        flex-direction: row;
        margin: 50px 0;

        h2 {
          @include dk-header-font-size;
          margin-right:100px;
        }
        p {
          @include dk-content-font-size;
        }
      }
      #next-project-link-container {
        margin: 100px 0;

        h3 {
          font-size: 24px;
        }
        a {
          font-size: 40px;
        }
      }
    }
  }
}
