.projects-container {
  margin: 48px 24px;

 div {
    display: flex;
    flex-direction: column;
  h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
  .projects-inner-container {
    .project {
      padding: 20px;

      a {
        text-decoration: none;
        color: black;

        img {
          max-width: 490px;
          max-height: 460px;
          width: 100%;
        }

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
 }


}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .projects-container {
    margin: 64px 135px;

    div {
      h1 {
        font-size: 34px;
        font-weight: 500;
      }
      .projects-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .project {
          padding:0;
          margin:10px;

         a {
            img {
              width: 490px;
            }
            h2 {
              font-size: 24px;
            }
            p {
              font-size: 16px;
            }
         }

        }

        .project:nth-child(even) {
          margin-top: 100px;
          clear: both;
        }
      }
    }
  }
}
