.projects-container {
 padding: 100px 40px;

 div {
    display: flex;
    flex-direction: column;
  h1 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }
  .projects-imgs-container {
    .project {
      padding: 20px;
      img {
        max-width: 500px;
        max-height: 500px;
        width: 100%;
      }
    }
  }
 }


}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .projects-container {
    padding: 200px 100px;

    div {
      h1 {
        font-size: 60px;
        margin: 0 135px 64px 135px;
      }
      .projects-imgs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 135px;

        .project {
          padding:0;
          margin:0;
          width: 50%;

          img {
            max-width: 460px;
            max-height: 460px;
          }
        }

        .project:nth-child(even) {
          margin-top: 200px;
          clear: both;
        }
      }
    }
  }
}
