@import '../../globalStyle/font';

.header-placeholder {
  img {
    width: 100vw;
  }
}

.project-details-container {
  @include mb-section-spacing;

  div {
    .details {
      padding-bottom: 20px;

      h1 {
        text-align: left;
        @include header-font;
        @include mb-header-font-size;
      }

      p {
        @include content-font;
        @include mb-content-font-size;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;

          .tech-details {
            margin-bottom: 20px;
            h2 {
              @include header-font;
              @include mb-content-font-size;
            }
            p, a {
              @include content-font;
            }
            a {
              padding: 5px 0;
            }
          }
        }
      }
    }

    .project-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .details-2 {
      display: flex;
      flex-direction: column;
      padding-top: 20px;

      h2 {
       @include mb-header-font-size;
       @include header-font;

      }

      p {
        @include mb-content-font-size;
        @include content-font;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .project-details-container {
    @include dk-section-spacing;

    div {
      .details {
        margin-bottom: 100px;

        h1 {
          text-align: left;
          @include dk-header-font-size;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          div {
            display: flex;
            flex-direction: column;
             .tech-details {
                margin-right: 70px;
                margin-bottom: 0;
               h2 {
                 @include dk-content-font-size;
               }

               p,
               a {
                 @include content-font;
               }

             }
          }

          div:nth-child(2) {
            p {
              @include content-font;
              @include dk-content-font-size;
            }
          }
        }
      }

      .details-2 {
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 0;

        h2 {
          @include dk-header-font-size;
          margin-right: 80px;
        }
        p {
          @include dk-content-font-size;
        }
      }
    }
  }
}
